{% extends "layout.html" %}
{% block content %}
    <div class="conatiner" style="margin: 2%;">
        <div class="row">
            <div class="col-md-9">
                {% for document in search  %}
        <div class="jumbotron" style="height: 370px;">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><a href="{{url_for('post', l=document['title'])}}" class="link"><h1>{{document.title}}</h1></a></legend>
            <a href="{{url_for('date', d=document['date'])}}"><small class="text-muted">{{document.date}}</small></a>
            <br>
            <strong><a href="{{url_for('tags', tag=document['tag'])}}"><small class="text-muted">{{document.tag}}</small></a></strong>
            <hr style="    width: 70px;
    margin-left: 0%;">
            <div class="form-group" style="height: 150px;">
                <pre class="h6" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: 'Comfortaa', cursive;">{{document.content}}</pre>
            </div>
        </fieldset>
   </div>
    {% endfor %}
            </div>
            <div class="col-md-3">
                <div class="jumbotron">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"><h4 style="padding-left: 40%;
    margin-top: -15%;">Tags</h4></legend>
                   <div class="list-group">
  <a href="{{url_for('tags', tag='Entertainment')}}" class="list-group-item justify-content-between align-items-center d-flex list-group-item-action">Entertainment<span class="badge badge-pill badge-primary">{{tags.ent}}</span>
  </a>
  <a href="{{url_for('tags', tag='Technology')}}" class="list-group-item justify-content-between align-items-center d-flex list-group-item-action">Technology<span class="badge badge-pill badge-primary">{{tags.tech}}</span></a>
  <a href="{{url_for('tags', tag='Facts')}}" class="list-group-item justify-content-between align-items-center d-flex list-group-item-action">Facts and Figures<span class="badge badge-pill badge-primary">{{tags.fact}}</span></a>
  <a href="{{url_for('tags', tag='Movies')}}" class="list-group-item justify-content-between align-items-center d-flex list-group-item-action">Movies<span class="badge badge-pill badge-primary">{{tags.mov}}</span></a>
  <a href="{{url_for('tags', tag='Sports')}}" class="list-group-item justify-content-between align-items-center d-flex list-group-item-action">Sports<span class="badge badge-pill badge-primary">{{tags.spo}}</span></a>
  <a href="{{url_for('tags', tag='Others')}}" class="list-group-item justify-content-between align-items-center d-flex list-group-item-action">Others<span class="badge badge-pill badge-primary">{{tags.oth}}</span></a>
</div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
{% endblock %}