{% extends "layout.html" %}
{% block content %}
    <div class="container" id="login" style="width: 400px; background-color: #f5f5f5 ;     margin-top: 6%;">
        <form class="form-signin" action="" method="post">
      <div class="text-center mb-4">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <p class="lead h5">Welcome to the <strong>Blog</strong>. Login below to add new blogs.</p>
      </div>

      <div class="form-label-group">
        <input type="text" id="inputUsername" class="form-control" style="margin-bottom: 3%;" placeholder="Username" name="username" required autofocus>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" style="margin-bottom: 3%;" placeholder="Password" name="password" required>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      <br>
      {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      <p class="mt-5 mb-3 text-muted text-center">&copy; Blog-2018</p>
    </form>
    </div>

{% endblock %}